build/
conf/
spiffs_fs/config.yml.gz
releases/

sdkconfig
sdkconfig.old

main/component.mk
main/init.c
main/core/include_modules.h
main/core/i2c/i2c.c
main/core/modules.h
main/core/kv/kv_helpers_internal.c
main/core/kv/kv.c
main/core/kv/kv.h
main/core/kv/kv_arrays.h
main/core/kv/keys.h
main/core/kv/kv_helpers_internal.h
main/core/kv/kv_helpers.c
main/core/kv/kv_arrays.c
main/core/kv/kv_mapping.c
main/core/stat_dump/stat_dump.c
main/Kconfig.projbuild

build.env
