menu "SuperGreenOS Configuration"

config BROKER_URL
  string "Broker URL"
  default "mqtt://sink.supergreenlab.com:1883"
  help
    URL of the broker to connect to

config VERSION
  string "A name to give to this version"
  default SuperGreenDriver
  help
    Version displayed in the logs

config OTA_SERVER_IP
  string "Over-The-Air server IP"
  default "142.93.167.50"
  help
    IP address of the server used for updates, will switch to DNS resolution ASAP:P

config OTA_SERVER_HOSTNAME
  string "Over-The-Air server hostname"
  default "update.supergreenlab.com"
  help
    DNS domain of the server used for updates, required in addition of the IP address, for http host header.

config OTA_SERVER_PORT
  string "Over-The-Air server port"
  default "80"
  help
    Port of the server used for updates.

config OTA_VERSION_FILENAME
  string "Over-The-Air path to the file containing the last timestamp"
  default "/SuperGreenOSTemplate/last_timestamp"
  help
    Path to the file containing last timestamp

config OTA_FILENAME
  string "Over-The-Air path to file containing the firmware"
  default "/SuperGreenOSTemplate/firmware.bin"
  help
    Port of the server used for updates.

endmenu
