menu "SuperGreenOS Configuration"

config BROKER_URL
  string "Broker URL"
  default "mqtt://sink.supergreenlab.com:1883"
  help
    URL of the broker to connect to

config VERSION
  string "A name to give to this version"
  default SuperGreenDriver1.0
  help
    Version displayed in the logs

config OTA_SERVER_IP
  string "Over-The-Air server IP"
  default "142.93.167.50"
  help
    IP address of the server used for updates, will switch to DNS resolution ASAP:P

config OTA_SERVER_HOSTNAME
  string "Over-The-Air server hostname"
  default "update.supergreenlab.com"
  help
    DNS domain of the server used for updates, required in addition of the IP address, for http host header.

config OTA_SERVER_PORT
  string "Over-The-Air server port"
  default "80"
  help
    Port of the server used for updates.

config OTA_BASEDIR
  string "Over-The-Air base directory used to build urls"
  default "/SuperGreenDriver1.0"
  help
    Base directory used to build urls

endmenu
