menu "chronic-O-matic configuration"

config OTA_SERVER_IP
    string "HTTP Server IP"
	default "107.170.11.78"
	help
		HTTP Server IP to download the image file from.

		See example README.md for details.

config OTA_SERVER_PORT
	string "HTTP Server Port"
	default "80"
	help
		HTTP Server port to connect to.
		Should be chosen not to conflict with any other port used
		on the system.

config OTA_FILENAME
	string "HTTP GET Filename"
	default "/chronic/chronic-o-matic.bin"
	help
		Filename of the app image file to download for
		the OTA update.

config OTA_VERSION_FILENAME
	string "HTTP GET Filename"
	default "/chronic/last_timestamp"
	help
		Filename of the file containing current version

endmenu
