<div id='boxes'>
  <ul id='box_tabs'>
    <li id='box_tab_0'><a href='javascript:void(0)' onclick='renderBox(0)'>Box 1</a></li>
    <li id='box_tab_1'><a href='javascript:void(0)' onclick='renderBox(1)'>Box 2</a></li>
    <li id='box_tab_2'><a href='javascript:void(0)' onclick='renderBox(2)'>Box 3</a></li>
  </ul>
  <div id='box'>
    <div class='box_params' id='box_readonly'>
      <div class='box_param_list' id='box_readonly_0'>
      </div>
      <div class='box_param_list' id='box_readonly_1'>
      </div>
    </div>
    <div class='box_params' id='box_advance'>
      <div class='box_param_list' id='box_advance_0'>
      </div>
      <div class='box_param_list' id='box_advance_1'>
      </div>
    </div>
  </div>
</div>
