<div id='box'>
  <div class='params' id='box_readonly'>
    <div class='param_list' id='box_readonly_0'>
      loading...
    </div>
    <div class='param_list' id='box_readonly_1'>
      loading...
    </div>
  </div>
  <div class='params' id='box_advance'>
    <div class='param_list' id='box_advance_0'>
      loading...
    </div>
    <div class='param_list' id='box_advance_1'>
      loading...
    </div>
  </div>
</div>
