<div id='header'>
<h3 id='device_name'></h3>
<div id='controller_infos'>
  <div class='status_box'>
    <span id='state'></span>
  </div>
  <div class='status_box'>
    wifi <span id='wifi_status'>-</span>
  </div>
</div>
</div>
