<div id='header'>
<div>
  <h3 id='device_name'></h3>&nbsp;<a href='javascript:void(0)' onclick='onToggleControllerSettings()'>Settings</a>
</div>
<div id='controller_infos'>
  <div class='status_box'>
    <span id='state'></span>
  </div>
  &nbsp;
  <div class='status_box'>
    <span id='wifi_status'>-</span>
  </div>
</div>
</div>
