<div id='header'>
<h3 id='device_name'></h3>
<div id='state'>
  <div class='status_box'>
    <span>box state:<span><br />
    <svg width='33px' height='33px' id='state_color_svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink="http://www.w3.org/1999/xlink">
      <ellipse cx='16.5px' cy='16.5px' id='state_color' rx='15' ry='15px' stroke-width='1.5' stroke='#000' fill='#0f27ff'/>
    </svg><br />
    <span id='state'></span>
  </div>
  <div class='status_box'>
    <span>wifi_status:<span><br />
    <svg width='33px' height='33px' id='wifi_status_svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink="http://www.w3.org/1999/xlink">
      <ellipse cx='16.5px' cy='16.5px' id='wifi_status' rx='15' ry='15px' stroke-width='1.5' stroke='#000' fill='#0f27ff'/>
    </svg>
    <span id='ip'></span>
  </div>
</div>
</div>
