.params {
  flex: 1;
  display: flex;
}

.param_list {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 5pt;
  max-width: 50%;
}

.param {
  display: flex;
  align-items: center;
  word-wrap: break-word;
  margin: 3pt;
}

.param label, .param b {
  display: block;
  flex: 1;
}

.param span {
  overflow-x: auto;
}

.param_loading {
  opacity: 0.5;
}
