{{< normalize.css}}

body, html {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0; margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  min-height: 100vh;
}

/**
 * Header stuffs
 */

#header {
  display: flex;
  padding: 10pt;
  align-items: center;
  justify-content: space-between;
}

#header h3 {
  display: inline;
}

.hidden {
  display: none !important;
}

/* left part */

#device_name {
  display: block;
}

/* right part */

#controller_infos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.status_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/**
 * Menu
 */

#menu {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  background-color: #333333;
}

#menu li {
  float: left;
}

#menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

#menu li a:hover {
  background-color: #111111;
}

#menu li.selected {
  background-color: #111111;
}

/**
 * Box stuffs
 */

#box {
}

#box_advance {
  overflow-y: auto;
}

/**
 * Controller
 */

#controller {
  border-top: 1px solid #ababab;
  background-color: #efefef;
  overflow: hidden;
}

.controller_hidden {
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

.controller_visible {
  max-height: 100000px;
  transition: max-height 0.3s ease-in;
}

/**
 * Common
 */

.params {
  flex: 1;
  display: flex;
}

.param_list {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 5pt;
  max-width: 50%;
}

.param {
  display: flex;
  align-items: center;
  word-wrap: break-word;
  margin: 3pt;
}

.param label, .param b {
  display: block;
  flex: 1;
}

.param span {
  overflow-x: auto;
}

.param_loading {
  opacity: 0.5;
}
