<%- include('normalize.css') %>
<%- include('param.css') %>
<%- include('menu.css') %>

body, html {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0; margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  min-height: 100vh;
  color: #717171;
}

.params {
  display: flex;
  flex-direction: column;
}

.section_title {
  margin: 20pt 10pt;
}

@media only screen and (max-width: 600px) {
  .section_title {
    text-align: center;
    font-size: 1.2em;
  }
}

.fields {
  display: flex;
  flex-wrap: wrap;
}

.fields > div {
  flex-basis: 50%;
}

.field {
  display: flex;
  flex-direction: column;
  padding: 10pt 20pt;
}

.field > label {
  display: block;
  font-weight: 800;
  margin-bottom: 10pt;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
  padding: 10pt 0;
}

.pagination > a {
  font-weight: 800;
  margin: 0 5pt;
  color: #717171;
}

.module {
  padding: 10pt 10pt;
}

@media only screen and (max-width: 600px) {
  .module > h2 {
    font-size: 1em;
  }
}

.array_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #717171;
  color: white;
  padding: 10pt 10pt;
  text-transform: uppercase;
  border-bottom: 1pt solid white;
}

@media only screen and (max-width: 600px) {
  .array_title > h2 {
    font-size: 1em;
  }
  .array_title > a {
    font-size: 0.7em;
  }
}

.array_title > a {
  margin: 0 10pt;
  color: white;
}
