<ul id='menu'>
  <li id='box_tab_0' class='selected'><a href='javascript:void(0)' onclick='onMenuTabSelected(this.parentNode)'>Box 1</a></li>
  <li id='box_tab_1'><a href='javascript:void(0)' onclick='onMenuTabSelected(this.parentNode)'>Box 2</a></li>
  <li id='box_tab_2'><a href='javascript:void(0)' onclick='onMenuTabSelected(this.parentNode)'>Box 3</a></li>
  <li id='led_tab'><a href='javascript:void(0)' onclick='onMenuTabSelected(this.parentNode)'>Leds</a></li>
</ul>

